# Ignore Python internal cache files
__pycache__/
*.pyc

# Ignore all local data and other select folders and scripts
obsolete/
tests/
plots/
data/model_output/bear_creek/
data/model_output/pine_creek/
data_no_repo

# Ignore common spreadsheet and data types
*.xlsx
*.h5
*.pickle
*.npy
*.zip
*.mat
